.section {
  margin: 32px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
.sectionCard {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 18px;
}
.showAll {
  color: var(--color-primary);
  cursor: pointer;
}
